<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content refreshingSpinner="circles"> </ion-refresher-content>
  </ion-refresher>

  <h1 style="margin-left: 20px">
    Mes échanges en cours ({{ exchanges.length }})
  </h1>
  <ion-list>
    <ion-card *ngFor="let exchangeData of exchanges" class="ion-card">
      <ion-card-header>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="/assets/images/profile/user-1.jpg" alt="Owner's Image" />
          </ion-thumbnail>
          <ion-label>
            <h2>
              Échange avec
              {{
                exchangeData.proposer
                  ? exchangeData.exchange.accepter.firstName +
                    " " +
                    exchangeData.exchange.accepter.lastName
                  : exchangeData.exchange.proposer.firstName +
                    " " +
                    exchangeData.exchange.proposer.lastName
              }}
            </h2>
            <p>
              Date d'acceptation :
              {{
                exchangeData.exchange.acceptanceDate | date : "dd/MM/yyyy HH:mm"
              }}
            </p>
          </ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <div class="items-section">
          <div class="items-title">
            Mes objets ({{
              exchangeData.proposer
                ? exchangeData.proposedObjects.length
                : exchangeData.acceptedObjects.length
            }}) :
          </div>
          <div class="scrollable-container">
            <div
              *ngFor="
                let object of exchangeData.proposer
                  ? exchangeData.proposedObjects
                  : exchangeData.acceptedObjects
              "
              class="item-container"
            >
              <ion-thumbnail class="item-thumbnail">
                <img [src]="object.imageUrl" alt="{{ object.title }}" />
              </ion-thumbnail>
              <span>{{ object.title }}</span>
            </div>
          </div>
        </div>

        <div class="items-section">
          <div class="items-title">
            Objets de
            {{
              exchangeData.proposer
                ? exchangeData.exchange.accepter.firstName +
                  " " +
                  exchangeData.exchange.accepter.lastName
                : exchangeData.exchange.proposer.firstName +
                  " " +
                  exchangeData.exchange.proposer.lastName
            }}
            ({{
              exchangeData.proposer
                ? exchangeData.acceptedObjects.length
                : exchangeData.proposedObjects.length
            }}) :
          </div>
          <div class="scrollable-container">
            <div
              *ngFor="
                let object of exchangeData.proposer
                  ? exchangeData.acceptedObjects
                  : exchangeData.proposedObjects
              "
              class="item-container"
            >
              <ion-thumbnail class="item-thumbnail">
                <img [src]="object.imageUrl" alt="{{ object.title }}" />
              </ion-thumbnail>
              <span>{{ object.title }}</span>
            </div>
          </div>
        </div>
        <ion-button expand="full" (click)="showActionSheet(exchangeData)">
          Gérer l'échange
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
