<ion-content>
  <h1 style="margin-left: 20px">
    Mes échanges en cours ({{ exchanges.length }})
  </h1>
  <ion-list>
    <ion-card *ngFor="let exchangeData of exchanges" class="ion-card">
      <ion-card-header>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img src="/assets/images/profile/user-1.jpg" alt="Owner's Image" />
          </ion-thumbnail>
          <ion-label>
            <h2>
              Échange avec
              {{
                exchangeData.proposer
                  ? exchangeData.exchange.accepter.firstName +
                    " " +
                    exchangeData.exchange.accepter.lastName
                  : exchangeData.exchange.proposer.firstName +
                    " " +
                    exchangeData.exchange.proposer.lastName
              }}
            </h2>
            <p>
              Date d'acceptation :
              {{
                exchangeData.exchange.acceptanceDate | date : "dd/MM/yyyy HH:mm"
              }}
            </p>
          </ion-label>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <div class="items-section">
          <div class="items-title">
            Mes objets ({{
              exchangeData.proposer
                ? exchangeData.exchange.proposedGroupObject
                    .objectGroupMemberships.length
                : exchangeData.exchange.acceptedGroupObject
                    .objectGroupMemberships.length
            }}) :
          </div>
          <div class="scrollable-container">
            <div
              *ngFor="
                let membership of exchangeData.proposer
                  ? exchangeData.exchange.proposedGroupObject
                      .objectGroupMemberships
                  : exchangeData.exchange.acceptedGroupObject
                      .objectGroupMemberships
              "
              class="item-container"
            >
              <ion-thumbnail class="item-thumbnail">
                <img
                  [src]="membership.object.imageUrl"
                  alt="{{ membership.object.title }}"
                />
              </ion-thumbnail>
              <span>{{ membership.object.title }}</span>
            </div>
          </div>
        </div>

        <div class="items-section">
          <div class="items-title">
            Objets de
            {{
              exchangeData.proposer
                ? exchangeData.exchange.accepter.firstName +
                  " " +
                  exchangeData.exchange.accepter.lastName
                : exchangeData.exchange.proposer.firstName +
                  " " +
                  exchangeData.exchange.proposer.lastName
            }}
            ({{
              exchangeData.proposer
                ? exchangeData.exchange.acceptedGroupObject
                    .objectGroupMemberships.length
                : exchangeData.exchange.proposedGroupObject
                    .objectGroupMemberships.length
            }}) :
          </div>
          <div class="scrollable-container">
            <div
              *ngFor="
                let membership of exchangeData.proposer
                  ? exchangeData.exchange.acceptedGroupObject
                      .objectGroupMemberships
                  : exchangeData.exchange.proposedGroupObject
                      .objectGroupMemberships
              "
              class="item-container"
            >
              <ion-thumbnail class="item-thumbnail">
                <img
                  [src]="membership.object.imageUrl"
                  alt="{{ membership.object.title }}"
                />
              </ion-thumbnail>
              <span>{{ membership.object.title }}</span>
            </div>
          </div>
        </div>
        <ion-button
          expand="full"
          (click)="showActionSheet(exchangeData.exchange)"
        >
          Gérer l'échange
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
